blessings (1.6)
bpython (0.16)
certifi (2017.4.17)
chardet (3.0.4)
curtsies (0.2.11)
greenlet (0.4.12)
idna (2.5)
oauthlib (2.0.2)
pip (9.0.1)
pyaml (16.12.2)
Pygments (2.2.0)
PyYAML (3.12)
requests (2.18.1)
requests-oauthlib (0.8.0)
setuptools (36.0.1)
six (1.10.0)
twython (3.5.0)
urllib3 (1.21.1)
wcwidth (0.1.7)
wheel (0.30.0a0)
